/* Auto Links Plugin Styles */

.auto-link {
  color: var(--text-accent);
  text-decoration: none;
  cursor: pointer;
}

.auto-link:hover {
  color: var(--text-accent-hover);
}

input.auto-link-error,
input.auto-link-error:hover,
input.auto-link-error:focus,
input.auto-link-error:active {
  border-color: var(--text-error);
}
