/* Auto Links Plugin Styles */

.auto-link {
  color: var(--text-accent);
  text-decoration: none;
  cursor: pointer;
}

.auto-link:hover {
  color: var(--text-accent-hover);
}

.auto-link-error {
  border-color: var(--text-error) !important;
}
